.footer{
    background-image: url(./assets/images/waves-m.png);
    background-repeat: repeat-x;
    padding-top: 24px;
    padding-bottom: 32px;
}
@include media-breakpoint-up(sm){
    .footer{
        background-image: url(./assets/images/waves.png);
        padding-top: 40px;
        padding-bottom: 40px;
    }
}