.nav-m-bg{
    background-image: url(../assets/images/nav-m.png);
    background-size:100%;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-left: calc(-1 * $container-padding-x * 0.5);
    margin-right: calc(-1 * $container-padding-x * 0.5);
}

.mb-382{
margin-bottom: 382px;
}
.footer{
    background-image: url(../assets/images/waves-m.png);
    background-repeat: repeat-x;
    padding-top: 24px;
    padding-bottom: 32px;
}
.mt-128{
    margin-top: 128px;
}
.hero{
    padding-top: 184px;
}
.common-hero{
    padding-top: 56px;
}
.hero-banner{
    max-height: 300px !important;
}
.porductList:hover{
    transform: scale(1.01);
    box-shadow: 0 5px 5px 1px #CF8516;
}

.productCard:hover{
    border-radius: 80px 80px 16px 16px;
    transform: scale(1.01);
    box-shadow: 0 5px 5px 1px #CF8516;
    img{
        transform: scale(1.01);
        box-shadow: 0 5px 5px 1px #CF8516;
    }
}
.productCard button {
    line-height: 1.2;
}

@include media-breakpoint-up(lg){
    .footer{
        background-image: url(../assets/images/waves.png);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .pb-sm-382{
        padding-bottom: 0px;
        }
        .nav-m-bg{        
            background-image: none;
        }
        .hero{
            padding-top: 355px;
        }
        .common-hero{
            padding-top: 144px;
        }
        .productCard:hover{
            border-radius: 120px 120px 20px 20px;
            transform: scale(1.01);
            box-shadow: 0 5px 5px 1px #CF8516;
            img{
                transform: scale(1.01);
                box-shadow: 0 5px 5px 1px #CF8516;
            }
        }      

}

//productsView
.btn-porduct-add{
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

}
